<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <!-- Nav start -->
    <%- include('../partials/nav'); %>
        <!-- Nav end -->
        <%- include('../partials/form'); %>
</body>

</html>